html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

form {
  height: 100%;
}

textarea {
  font: 1.1em Monaco, Menlo, 'Ubuntu Mono', Inconsolata, Consolas, source-code-pro, "Deja Vu Sans Mono", "Droid Sans Mono", "Andale Mono", monospace;
  border: 0;
  padding: 1em 0 0 1em;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: content-box;
  overflow: auto;
  vertical-align: top;
}

textarea:focus {
  outline: none;
}

input {
  display: none;
}
