html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

textarea {
  font: 1.1em Monaco, Menlo, 'Ubuntu Mono', Inconsolata, Consolas, source-code-pro, "Deja Vu Sans Mono", "Droid Sans Mono", "Andale Mono", monospace;
  width: 100%;
  height: 100%;
  padding: 1em 0 0 1em;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: content-box;
}

textarea:focus {
  outline: none;
}

input {
  display: none;
}
