html, body {
  background: white;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

form {
  height: 100%;
}

textarea {
  font: 1.1em Monaco, Menlo, 'Ubuntu Mono', Inconsolata, Consolas,
    source-code-pro, "Deja Vu Sans Mono", "Droid Sans Mono", "Andale Mono",
    monospace;
  background: white;
  border: 0;
  padding: 1em 0 0 1em;
  width: 100%;
  width: calc(100% - 1em);
  height: 100%;
  height: calc(100% - 1em);
  resize: none;
  -moz-box-sizing: border-box;
  box-sizing: content-box;
  overflow: auto;
  vertical-align: top;
}

textarea:focus {
  outline: none;
}

input {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body{
    background-color:#202020;
    color:#eee  ;
  }

  textarea{
    background-color:#202020;
    color:#eee  ;
  }
}