* {
  margin:0;
  padding:0;
}
html, body {
  height:100%;
}
textarea {
  font:1.1em Inconsolata, Consolas, "Deja Vu Sans Mono", "Droid Sans Mono", Monaco, "Andale Mono", Courier, monospace;
  position:absolute;
  display:block;
  margin:1%;
  width:98%;
  height:97%;
  border:0;
}
#submit {
  z-index:2;
  position:absolute;
  bottom:1ex;
  right:1ex;
}
